// studio - developer
// ====================
// NOTE: use this area for any developer-needed or created styling that needs to be refactored into patterns or visually polished. Please list any template/view that your styles reference when definining them (example below):

// Views: Login, Sign Up
// .crazy-new-feature {
//   background: transparent;
// }

// --------------------

// studio - views - unit
// ====================

// Duplicate of the unit page's styling for new component items
body.view-container {

  // New Components
  .new-component-item {
    margin: ($baseline/2);
    border-top: 1px solid $gray-l3;
    border-radius: 0 0 ($baseline/4) ($baseline/4);
    box-shadow: 0 2px 1px $shadow-l2 inset;
    background-color: $lightGrey;
    padding: $baseline;

    .new-component-button {
      display: block;
      padding: $baseline;
      text-align: center;
      color: #edf1f5;
    }

    h5 {
      margin: 0 0 $baseline 0;
      color: #fff;
      font-weight: 600;
      font-size: 18px;
    }

    .rendered-component {
      display: none;
      background: #fff;
      border-radius: 3px 3px 0 0;
    }

    .new-component-type {

      a,
      li {
        display: inline-block;
      }

      a {
        border: 1px solid $mediumGrey;
        width: 100px;
        height: 100px;
        color: #fff;
        margin-right: 15px;
        margin-bottom: $baseline;
        border-radius: 8px;
        font-size: 15px;
        line-height: 14px;
        text-align: center;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .4) inset;

        .name {
          position: absolute;
          bottom: 5px;
          left: 0;
          width: 100%;
          padding: $baseline/2;
          @include box-sizing(border-box);
          color: #fff;
        }
      }
    }

    .new-component-templates {
      display: none;
      margin: $baseline 2*$baseline;
      border-radius: 3px;
      border: 1px solid $mediumGrey;
      background-color: #fff;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 1px 0 rgba(255, 255, 255, .4) inset;
      @include clearfix;

      .cancel-button {
        margin: $baseline 0px $baseline/2 $baseline/2;
        @include white-button;
      }

      .problem-type-tabs {
        display: none;
      }

      // specific menu types
      &.new-component-problem {
        padding-bottom: $baseline/2;

        [class^="icon-"], .editor-indicator {
          display: inline-block;
        }

        .problem-type-tabs {
          display: inline-block;
        }
      }
    }

    .new-component-type,
    .new-component-template {
      @include clearfix;

      a {
        position: relative;
        border: 1px solid $darkGreen;
        background: tint($green,20%);
        color: #fff;

        &:hover {
          background: $brightGreen;
        }
      }
    }

    .problem-type-tabs {
      list-style-type: none;
      border-radius: 0;
      width: 100%;
      @include linear-gradient(top, rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
      background-color: $lightBluishGrey;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.2) inset;

      li:first-child {
        margin-left: $baseline;
      }

      li {
        float:left;
        display:inline-block;
        text-align:center;
        width: auto;
        @include linear-gradient(top, rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
        background-color: tint($lightBluishGrey, 10%);
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.2) inset;
        opacity: 0.8;

        &:hover {
          opacity: 0.9;
          background-color: tint($lightBluishGrey, 20%);
        }

        &.ui-state-active {
          border: 0px;
          @include active;
          opacity: 1.0;
        }
      }

      a {
        display: block;
        padding: 15px 25px;
        font-size: 15px;
        line-height: 16px;
        text-align: center;
        color: #3c3c3c;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
      }
    }

    .new-component-template {

      a {
        @include transition(none);
        background: #fff;
        border: 0px;
        color: #3c3c3c;

        &:hover {
          @include transition(background-color $tmg-f2 linear 0s);
          background: tint($green,30%);
          color: #fff;
        }
      }

      li {
        border:none;
        border-bottom: 1px dashed $lightGrey;
        color: #fff;
      }

      li:first-child {
        a {
          border-top: 0px;
        }
      }

      li:nth-child(2) {
        a {
          border-radius: 0px;
        }
      }

      a {
        @include clearfix();
        display: block;
        padding: 7px $baseline;
        border-bottom: none;
        font-weight: 500;

        .name {
          float: left;

          [class^="icon-"] {
            @include transition(opacity $tmg-f2 linear 0s);
            display: inline-block;
            top: 1px;
            margin-right: 5px;
            opacity: 0.5;
            width: 17;
            height: 21px;
            vertical-align: middle;
          }
        }

        .editor-indicator {
          @include transition(opacity $tmg-f2 linear 0s);
          float: right;
          position: relative;
          top: 3px;
          font-size: 12px;
          opacity: 0.3;
        }

        [class^="icon-"], .editor-indicator {
          display: none;
        }

        &:hover {
          color: #fff;

          [class^="icon-"] {
            opacity: 1.0;
          }

          .editor-indicator {
            opacity: 1.0;
          }
        }
      }

      // specific editor types
      .empty {

        a {
          line-height: 1.4;
          font-weight: 400;
          background: #fff;
          color: #3c3c3c;

          &:hover {
            background: tint($green,30%);
            color: #fff;
          }
        }
      }
    }

    .new-component {
      text-align: center;

      h5 {
        color: $darkGreen;
      }
    }
  }
}

